<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      margin-left: 20px;
    }
  </style>
</head>
<body>
  <h3>Post Title : <%= post.title %></h3>
  <ul>
    <li>Id: <%= post.id %></li>
    <li>Category: <%= post.category %></li>
    <li>Author: <%= post.author %></li>
  </ul>  
  <a href="/posts">Back</a>
</body>
</html>